In [2]:
import pandas as pd
import datetime
from datetime import date
import numpy as np
import matplotlib.pyplot as plt
import plotly
import plotly.offline as py
from plotly.offline import plot, iplot
plotly.offline.init_notebook_mode(connected= True)
import plotly.graph_objs as go

In [3]:
df = pd.read_csv("tables/tabelasCasos_Bahia.csv")
df.tail(10)

     Unnamed: 0    Category  Confirmados  Óbitos  recuperados_BA
267         267  2020-11-28       398504    8227          317821
268         268  2020-11-29       401419    8247          319542
269         269  2020-11-30       403071    8268          320815
270         270  2020-12-01       406189    8293          322445
271         271  2020-12-02       409417    8315          322445
272         272  2020-12-03       412685    8336          322445
273         273  2020-12-04       416734    8360          322445
274         274  2020-12-05       419044    8388          322445
275         275  2020-12-06       423124    8418          322445
276         276  2020-12-07       424704    8445          322445

In [4]:
df.iloc[269]

Unnamed: 0               269
Category          2020-11-30
Confirmados           403071
Óbitos                  8268
recuperados_BA        320815
Name: 269, dtype: object